
{% load static %}

<div class="d-flex" style="justify-content: center;">
    {% if posts.has_previous %}
    <a class=" my-2 mx-1 btn btn-secondary" href="?page=1">Inicio</a>
    <a class="my-2 mx-1 btn btn-secondary" href="?page={{ posts.previous_page_number }}">{{posts.previous_page_number}}</a>
    {% endif %}
    {% if posts.has_next %}
    <a class="  my-2 mx-1 btn btn-secondary"  href="?page={{ posts.next_page_number }}">Siguiente &raquo; </a>
    {% endif %}
</div>
<div class="d-flex" style="justify-content: center;">
  <span class="current-page m-3 text-secondary">
    Página {{ posts.number }} de {{ posts.paginator.num_pages }}.
  </span>
</div>
<div class="container-flex d-none d-md-flex" style="height: 6rem"></div>
